ConnectionStrings__DefaultConnection=
ASPNETCORE_ENVIRONMENT=Development
Seed__EnableBootstrap=false
Seed__EnableDemoData=false
AdminSeed__Email=
AdminSeed__Username=
AdminSeed__Password=
AdminSeed__DisplayName=
Cloudinary__CloudName=
Cloudinary__ApiKey=
Cloudinary__ApiSecret=
Cloudinary__UploadFolder=hoa-events
